{
  "plugins": ["@typescript-eslint", "mocha", "prettier"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:mocha/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "root": true,
  "rules": {
    "eqeqeq": "warn",
    "@typescript-eslint/no-non-null-assertion": "off"
  },
  "env": {
    "node": true
  }
}
