name: "Test and lint"

on:
  workflow_dispatch:

  pull_request:

  push:
    branches:
      - master
    paths-ignore:
      - "**.md"
      - ".github/**"

jobs:
  test: # make sure build/ci work properly
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x, 22.x]

    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm i # clean install

      - name: Check format
        if: ${{ startsWith(matrix.node-version, '18') }}
        run: npm run lint

      - name: Unit test
        run: npm run test

  coverage: # build coverage
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: Install dependencies
        run: npm i

      - name: Coverage
        run: npm run test:cov

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          file: coverage/lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
